.header-background-proposal {
  background-image: url('../public/svg/BG-header.svg');
  background-size: auto;
}

.header-background-frame-proposal {
  background: #ffffff;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
